# OS / editors
.DS_Store
*.log
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

# Virtual envs
venv/
.env
.env.docker
.venv/
webmap_ca_env/

# Django
db.sqlite3
media/
staticfiles/